@using DoAnTotNghiep.Models;
@model IEnumerable<LoaiThanhVien>
@{
    ViewBag.Title = "IndexPhanQuyen";
     Layout = "~/Views/Layout/AdminLayout2.cshtml";
    // khởi tạo controll webgrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}
<br />
<br />

<h2>Danh sách các loại thành viên</h2>
@*Thể hiện dữ liệu thông qua controll webgrid*@
@grid.GetHtml(
         tableStyle: "gridTable", // class css cho thẻ table
         headerStyle: "gridHead", // class css cho các thẻ tiêu đề của table
         footerStyle: "gridFooter", // class css cho phần phân trang phía dưới
         rowStyle: "gridRow", // class css cho phần row lẽ
         alternatingRowStyle: "gridAltRow", // class css cho các row chẳn
         columns: grid.Columns(
             grid.Column("MaLoaiTV", "Mã Loại Thành Viên"),
             grid.Column("TenLoai", "Tên Loại"),


             grid.Column(format: p => Html.ActionLink("Phân Quyền", "PhanQuyen", new { id = p.MaLoaiTV }))
             ))
<style>
    .gridTable {
        border: 1px solid #808080;
        width: 100%;
    }

    .gridHead {
        border: 1px solid #808080;
        background-color: lightblue;
    }

    .gridRow {
        border: 1px solid #808080;
    }

    .gridAltRow {
        border: 1px solid #808080;
    }


    .gridFooter {
        font-weight: bold;
        border: 1px solid #808080;
    }
</style>


