@using DoAnTotNghiep.Models;
@model List<ItemGioHang>


<div class="clear"></div>
          

<div>
    <table style="text-align:right; margin-left:485px;">
        <tr>
            <td><b>Tổng thanh toán (đã giảm): &nbsp;</b>  </td>
            <td>  @ViewBag.TongDaGiam.ToString("#,##")VND </td>
        </tr>

    </table>
</div>


