
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Layout/SanPhamLayout.cshtml";
}
<div class="col-md-9 products-grid-right">
    <h2>Liên hệ với chúng tôi</h2>






    <div>

        <p style="color: #636363; padding-bottom: 4px; border-bottom: 1px solid #636363; float: left;
font-size: 18px !important; text-transform: uppercase; width: 100%; margin: 20px 0px 10px;">Dịch vụ khách hàng</p>
        <p>Address: Lê Hồng Phong, Phú Hoà, TP. Thủ Dầu Một, Bình Dương</p>
        <p>Hotline: 0394413777</p>
        <p>Giờ làm việc: 8:00 - 22:00</p>
        <p>Tất cả các ngày bao gồm cả Lễ Tết</p>

    </div>


    <div>
        <h3>Liên Hệ Hợp Tác Tiếp Thị Truyền Thông Thương Hiệu, Quảng Cáo</h3>
        <p>Phòng Marketing:&nbsp;0394413777</p>
        <p>Ext: 268 (Mr. Tài)</p>
        <p>Email: doantantai1909@gmail.com<br></p>
    </div>

</div>


