@model IEnumerable<DoAnTotNghiep.Models.GioiThieu>
@{
    ViewBag.Title = "AdminTKGT";
    Layout = "~/Views/Layout/AdminLayout2.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}
<div id="KQTimKiemGT" style="width: 100%; ">
    <div class="form-group row">
        @Html.ActionLink("Thêm Giới Thiệu Mới", "ThemGT", null, new { @class = "btn btn-success" })


        @*  form tìm kiếm ajax*@
        @using (Ajax.BeginForm("AdminTKGT", "QuanLyWebsite", new AjaxOptions { UpdateTargetId = "KQTimKiemGT", InsertionMode = InsertionMode.Replace }))
        {
            <div class="input-group" style="left:50px;">
                <input type="text" id="txtTimKiem" value="" name="sTuKhoaGT" placeholder="Nhập vào tiêu đề cần tìm...." />
                <input type="submit" id="btnTimKiem" value="Tìm" />
            </div>
        }
        <div style="clear:both"></div>
    </div>
    <br />


    @*Thể hiện dữ liệu thông qua controll webgrid*@


    @grid.GetHtml(
             tableStyle: "gridTable", // class css cho thẻ table
             headerStyle: "gridHead", // class css cho các thẻ tiêu đề của table
             footerStyle: "gridFooter", // class css cho phần phân trang phía dưới
             rowStyle: "gridRow", // class css cho phần row lẽ
             alternatingRowStyle: "gridAltRow", // class css cho các row chẳn
             columns: grid.Columns(
                 grid.Column("MaGioiThieu", "Mã Giới Thiệu"),
                 grid.Column("TieuDeGT", "Tiêu Đề"),
                 grid.Column("SDT", "Số Điện Thoại"),
                  grid.Column("DiaChi", "Địa Chỉ"),
                 grid.Column(format: p => Html.ActionLink("Chỉnh Sửa", "ChinhSuaTD", new { id = p.MaGioiThieu })),
                 grid.Column(format: p => Html.ActionLink("Xoá", "XoaTD", new { id = p.MaGioiThieu }))
                 ))



</div>


<style>
    .gridTable {
        border: 1px solid #808080;
        width: 100%;
    }

    .gridHead {
        border: 1px solid #808080;
        background-color: lightblue;
    }

    .gridRow {
        border: 1px solid #808080;
    }

    .gridAltRow {
        border: 1px solid #808080;
    }


    .gridFooter {
        font-weight: bold;
        border: 1px solid #808080;
    }
</style>



